{% extends "base.html" %}

{% block title %}Log In{% endblock title %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="login-form-control">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <form method="post">
        {{ form.hidden_tag() }}
        <p class="fields">{{ form.name.label() }}{{ form.name() }} </p>
        <p class="fields">{{ form.pswd.label() }}{{ form.pswd() }} </p>
        <p class="flash-msg">{{ messages[0] }}</p>
        <p class="rem-me">{{ form.remember.label() }}{{ form.remember() }}</p><br>
        <button class="login-button">Log In</button>
    </form>
</div>
{% endif %}
{% endwith %}
</p>

{% endblock content %}