{% extends "base.html" %}

{% block title %}Log In{% endblock title %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {{ messages[0] }}
{% endwith %}

<form method="post" class="form-control">
    {{ form.hidden_tag() }}
    <p>{{ form.name.label() }}{{ form.name() }} </p>
    <p>{{ form.pswd.label() }}{{ form.pswd() }} </p>
    <p>{{ form.remember.label() }}{{ form.remember() }} </p>
    <p>{{ form.submit() }} </p>
    <!-- <input type="text" name="name" placeholder="enter name" class="form-control"><br>
    <input type="password" name="password" placeholder="enter password" class="form-control"><br>
    <button class="btn btn-success" type="submit">Login</button> -->
</form>

{% endblock content %}