{% extends "base.html" %}

{% block title %}Order table{% endblock title %}

{% block content %}
    <p>Selected records: {{ all_rows }}</p>

    {% if page > 1 %}
        <a href="{{ url_for('payments.show_orders', page=page-1) }}">Previous</a>
    {% endif %}
        <span>Page {{ page }} of {{ total_pages }}</span>
    {% if page < total_pages %}
        <a href="{{ url_for('payments.show_orders', page=page+1) }}">Next</a>
    {% endif %}
    <form method="post">
        <label for="quantity">Num of page (between 1 and {{ total_pages }}):</label>
        <input type="number" name="num_page" id="quantity" min="1" max="{{ total_pages }}">
    </form>
    <br>

    <table class="orders-table">
        <tr>
            <th>ID</th>
            <th>SUM</th>
            <th>REQUISITES</th>
            <th>STATUS</th>
        </tr>
        {% for order in items_on_page %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.total_cost }}</td>
            <td><a href="{{ url_for('payments.order_detail') }}?user={{ order.user_id }}">{{ order.user_id }}</a></td>
            <td>{{ order.status.value }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}