body {
    background-color: lightslategrey;
}

.greetings {
    text-align: center;
    text-shadow: 10px;
    color: crimson;
    font-size: 2cm;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    padding: 15px;
    z-index: 1000;
    background: yellowgreen;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.header_img {
    height: 62px;
    width: 62px;
}

/* POSTS */
.row {
    padding: 50px 0;
  }
  .seperator {
    margin-bottom: 30px;
    width: 35px;
    height: 3px;
    background: #777;
    border: none;
  }
  .title {
    text-align: center;
  }
  .title .row {
    padding: 50px 0 0;
  }
  .title h1 {
    text-transform: uppercase;
  }
  .title .seperator {
    margin: 0 auto 10px;
  }
  .item {
    position: relative;
    margin-bottom: 30px;
    min-height: 1px;
    float: left;
-webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    -webkit-backface: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .item .item-in {
    background: #fff;
    padding: 40px;
    position: relative;
  }
  .item .item-in:hover:before {
    width: 100%;
  }
  .item .item-in::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 0%;
    background: #333333;
    right: 0px;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
  }
  .item h4 {
    font-size: 18px;
    margin-top: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .item p {
    font-size: 12px;
  }
  .item a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #666666;
    margin-top: 10px;
  }
  .item a i {
    opacity: 0;
    padding-left: 0px;
    transition: 0.4s;
    font-size: 24px;
    display: inline-block;
    top: 5px;
    position: relative;
  }
  .item a:hover {
    text-decoration: none;
  }
  .item a:hover i {
    padding-left: 10px;
    opacity: 1;
    font-weight: 300;
  }

.orders-table {
  background-color: #04AA6D;
  width: 50%;
  border: 3px solid green;
  position: relative;
  left: 50px;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

th {
  background-color:green;
    height: 70px;
    text-align: left;
    padding: 15px;
}

td {
  text-align: left;
  padding: 15px;
}

.add-data-yes {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.add-data-no {
  background-color: crimson;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.msg_success {
  background-color: lightgreen;
  color: darkred;
  text-align: center;
  font-size: 20px;
}